@{
    ViewData["Title"] = "Joel Hilton";
}

<div id="home-links">
    <a href="https://www.qwcomedy.com/" target="_blank" class="btn btn-primary">Quick Wits Comedy</a>
    <a href="https://baconsale.com/" target="_blank" class="btn btn-primary">Baconsale</a>
</div>
<a href="https://baconsale.com/" target="_blank"><img src="~/images/beckinsale.jpg" /></a>