@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton's Film Collection</h1>
    <img src="~/images/joel.jpg" />
    <a asp-controller="Home" asp-action="gettoknowyou">Get to Know Me!</a>
    <a asp-controller="Home" asp-action="collection">Joel's Collection'</a>
</div>
